@import "_vars.scss";

.home {
  height: 100vh;
}

// .home::before {
//   content: "";
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background: url(/src/Assets/homeOff.png);
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-size: 21vh;
//   z-index: 1;
// }

////////////////////////// Links ///////////////////////////

.links {
  display: flex;
  width: 100vw;
  position: absolute;
  top: 12vh;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 99;
}

.me,
.work {
  color: #cfcfcf66;
  font-size: 2vh;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 2px solid #cfcfcf66;
    border-radius: 3px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 19%;
      height: 500%;
      background: $darkColor;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-50deg);
      transition: all 1s;
    }
  }
  &:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: $lightColor;
    color: $darkColor;
  }
  &:active span::before {
    background: $darkColor;
  }
  &:hover {
    color: $darkColor;
  }
}

////////////////////////////// Particles ///////////////////////////////

.particles-container {
  height: 50vh;
  width: 50vw;
  min-width: 285px;
  margin: 0vh auto;
  position: relative;
  top: 25vh;
  clip-path: circle(50% at 50% 50%);
}

.particles-container::before {
  content: "";
  width: 39%;
  min-width: 180px;
  height: 100%;
  min-height: 475px;
  position: absolute;
  top: 0;
  left: 32%;
  background: url(/src/Assets/homeOff.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21vh;
  z-index: 1;
}

////////////////////////////// Days ///////////////////////////////////

.days {
  color: $darkColor;
  position: absolute;
  top: 82vh;
  width: 100vw;
  text-align: center;
  font-size: 7vh;
  letter-spacing: 7px;
  font-family: "Uncial Antiqua", cursive;
  text-shadow: 1px 1px 1px #969696, 1px 1px 4px #aba8a8;
  // border-top: 1px solid #ff000038;
  // border-bottom: 3px double #ff000040;
  padding-bottom: 14px;
  p {
    font-size: 2.5vh;
  }
  .numbers {
    background-color: #1d1d1d70;
    padding: 0 14px;
    border-radius: 60px;
  }
}

////////////////// Text line ////////////////////////

.line {
  width: 90vw;
  height: 27px;
  background-color: $darkColor;
  top: 86vh;
  left: 5vw;
  position: absolute;
  border-top: 4px double $redColor;
  border-bottom: 4px double $redColor;
  z-index: -1;
  overflow: hidden;
  font-size: 17px;
}
