@import "_vars.scss";

.work-page {
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.work-text {
  color: $lightColor;
  padding: 8vh 15px 2vw;
  text-align: center;
  font-size: 2vh;
  max-width: 400px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.color-white {
  color: $lightColor;
}

.box-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1380px) {
  .box-container {
    flex-direction: row;
  }
}

.box-item {
  position: relative;
  backface-visibility: hidden;
  width: 300px;
  margin: 20px;
  max-width: 100%;
}

.flip-box {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 35px;
  min-height: 430px;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}

.flip-box-front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  filter: invert(1);
}

.flip-box:hover .flip-box-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 18px;
  line-height: 1.75em;
  padding: 20px;
  background-color: rgba(29, 29, 29, 0.82);
  border-radius: 30px;
  filter: invert(1);
}

.flip-box-img {
  margin-top: 315px;
  width: 115px;
  margin-left: 55%;
  filter: drop-shadow(2px 4px 6px black);
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid $lightColor;
  border-radius: 2px;
  color: $lightColor;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
  filter: invert(1);
}

.lteam {
  background-image: url(/src/Assets/work/lteam.jpg);
}

.apartments {
  background-image: url(/src/Assets/work/apartments.jpg);
}

.mamarijum {
  background-image: url(/src/Assets/work/mamarijum.jpg);
}

.firebase {
  background-image: url(/src/Assets/work/firebase.jpg);
}

.git {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
