@import "_vars.scss";

.work-page {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  &::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(
      to right,
      #000,
      #1a0308,
      #29060a,
      #370407,
      #450000
    );
    opacity: 0.75;
    z-index: -1;
    width: 95vw;
    height: 90vh;
    top: 10vh;
    left: 3vw;
    clip-path: polygon(88% 95%, 100% 100%, 46% 15%, 0 76%, 11% 74%, 46% 0);
  }

  //////////////// EKG ////////////////

  .intro-block {
    text-align: center;
    padding-top: 7vh;
  }

  .intro-block .monitor {
    border-bottom: 4px double #94949446;
  }

  .intro-block svg {
    max-width: 65vw;
    min-width: 250px;
  }

  .intro-block svg .ekg {
    fill: none;
    stroke: #cd0000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: miter;
    opacity: 0;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: ekg 2s linear forwards infinite;
  }

  @keyframes ekg {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      stroke-dashoffset: 2000;
    }
    99% {
      opacity: 0;
      stroke-dashoffset: 3000;
    }
    100% {
      stroke-dashoffset: 1000;
    }
  }

  //////////////// AUDIO ////////////////

  .div-player {
    padding-top: 30px;
    text-align: center;
    font-family: $regularFont;
    font-size: 2vh;
    .playlist-text {
      color: $lightColor;
      padding-bottom: 14px;
      letter-spacing: 4px;
    }
    .controls {
      padding-top: 5px;
      button {
        display: block;
        margin: 15px auto;
        padding: 3px 21px;
        letter-spacing: 1px;
        font-family: $regularFont;
        border-radius: 2px;
        background-color: darkred;
        font-weight: bold;
        color: $darkColor;
        border: 1px solid $darkColor;
        &:hover {
          cursor: pointer;
          color: $lightColor;
          border: 1px solid $lightColor;
        }
      }
      label {
        display: block;
        color: $lightColor;
        letter-spacing: 1px;
        font-style: italic;
      }
    }
    .playlist {
      line-height: 2;
      width: fit-content;
      margin: 0 auto;
      .playlist-item {
        color: #cd0000;
        border-bottom: 1px solid #80808040;
        padding: 1vh;
        margin: 1vh;
        &:hover {
          cursor: pointer;
          color: $lightColor;
        }
      }
      .selected {
        color: $lightColor;
        &:hover {
          cursor: pointer;
        }
      }
      // .tale {
      //   font-size: 1.55vh;
      // }
    }
  }
}
