@import "_vars.scss";

.work-page {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

.work-text {
  color: $lightColor;
  padding: 9vh 2vw;
  text-align: center;
  font-size: 2vh;
  max-width: 400px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.wrap {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  margin: -16% auto;
  background: inherit;
  transform: scale(0.2) translatez(0px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.menu-project {
  position: absolute;
  left: 0;
  top: 0;
  width: 47.5%;
  height: 47.5%;
  overflow: hidden;
  transform: scale(0.5) translateZ(0px);
  background: #585247;
}
.menu-project div {
  height: 100%;
  background-size: cover;
  opacity: 0.5;
  transition: opacity 0.5s;
  border-radius: inherit;
}
.menu-project:nth-child(1) {
  border-radius: 40vmin 0 0 0;
  transform-origin: 110% 110%;
  transition: transform 0.4s 0.15s;
}
.menu-project:nth-child(1) div {
  background-image: url(/src/Assets/songs/Nick.jpg);
  background-size: contain;
}
.menu-project:nth-child(2) {
  border-radius: 0 40vmin 0 0;
  left: 52.5%;
  transform-origin: -10% 110%;
  transition: transform 0.4s 0.2s;
}
.menu-project:nth-child(2) div {
  background-image: url(/src/Assets/songs/Nirvana.jpg);
  background-size: contain;
}
.menu-project:nth-child(3) {
  border-radius: 0 0 0 40vmin;
  top: 52.5%;
  transform-origin: 110% -10%;
  transition: transform 0.4s 0.25s;
}
.menu-project:nth-child(3) div {
  background-image: url(/src/Assets/songs/Pink-Floyd.jpg);
  background-size: contain;
}
.menu-project:nth-child(4) {
  border-radius: 0 0 40vmin 0;
  top: 52.5%;
  left: 52.5%;
  transform-origin: -10% -10%;
  transition: transform 0.4s 0.3s;
}
.menu-project:nth-child(4) div {
  background-image: url(/src/Assets/songs/Tool.jpg);
  background-size: contain;
}
.menu-project:nth-child(5) {
  width: 55%;
  height: 55%;
  left: 22.5%;
  top: 22.5%;
  border-radius: 50vmin;
  box-shadow: 0 0 0 5vmin $darkColor;
  transform: scale(1);
}
.menu-project:nth-child(5) div {
  background-image: url(/src/Assets/songs/John-Frusciante.jpg);
  background-size: cover;
  background-position: center;
}
.empty-wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 27vmin;
  width: 10vmin;
  height: 10vmin;
  border-radius: 100%;
  background-image: url(/src/Assets/icons/git-work.png);
  background-position: center;
  background-size: contain;
  transform: translateZ(0px);
  // z-index: 11;
}
.empty-wrap .empty-wrap {
  position: absolute;
  width: 60%;
  height: 3px;
  background: $darkColor;
  left: 20%;
  top: 50%;
  border-radius: 0;
  transform: translateZ(0px);
  // z-index: 11;
}
.empty-wrap .empty-wrap :after,
.empty-wrap .empty-wrap :before {
  content: "";
  position: absolute;
  left: 0;
  top: -1.5vmin;
  width: 100%;
  height: 100%;
  background: inherit;
}
.empty-wrap .empty-wrap :after {
  top: 1.5vmin;
}
.empty-wrap :hover + .wrap,
.wrap:hover {
  transform: scale(0.8) translateZ(0px);
  opacity: 1;
}
.empty-wrap :hover + .wrap .menu-project,
.wrap:hover .menu-project {
  transform: scale(1) translatez(0px);
}
.menu-project:hover div {
  opacity: 1;
  transform: translatez(0px);
}
