//FONTS
$regularFont: "Roboto Condensed", sans-serif;
$monoFont: "Roboto Mono", monospace;
$cursiveFont: "Tangerine", cursive;
$amitaFont: "Amita", cursive;

$greyTextShadow: 1px 1px 2px #858585;

// COLORS
$darkColor: #1d1d1d;
$lightColor: #cfcfcf;
$redColor: #420000;
$greyColor: #858585;
