@import "../Components/AboutAtoms/about";
@import "../Components/MenuAndNavbar/menuAndBar";
@import "../Components/LandingPages/home";
@import "../Components/LandingPages/info";
@import "../Components/ProjectsAtom/projects";
@import "../Components/SongsAtoms/songs";
@import "../Components/Quiz/quiz";
@import "_vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $darkColor;
  font-family: $regularFont;
}
