@import "_about.scss";
@import "_menu.scss";
@import "_home.scss";
@import "_info.scss";
@import "_navbar.scss";
@import "_projects.scss";
@import "_songs.scss";
@import "_vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $darkColor;
  font-family: $regularFont;
}
