@import "../../Styles/vars";

//////////////////////////////////////////////////////////////
/////////////////////////// HOME /////////////////////////////
//////////////////////////////////////////////////////////////

.home {
  height: 100vh;
  font-family: $amitaFont;
}

////////////////////////// Links ///////////////////////////

.links {
  display: flex;
  width: 100vw;
  position: absolute;
  top: 9vh;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 700;
  z-index: 99;
  h1 {
    position: absolute;
    top: 9vh;
    display: flex;
    justify-content: center;
    color: $darkColor;
    letter-spacing: 2px;
    text-shadow: $greyTextShadow;
    font-size: 3vh;
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 1s;
    animation-duration: 11s;
  }
}

.developer {
  position: relative;
  top: 24vh;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 3vh;
    color: $darkColor;
    letter-spacing: 2px;
    text-shadow: $greyTextShadow;
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 5s;
    animation-duration: 7s;
  }
  span {
    color: $redColor;
    font-size: 3.5vh;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.me,
.work {
  color: $greyColor;
  font-size: 2vh;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 2px solid $greyColor;
    border-radius: 3px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 19%;
      height: 500%;
      background: $darkColor;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-50deg);
      transition: all 1s;
    }
  }
  &:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: $lightColor;
    color: $darkColor;
  }
  &:active span::before {
    background: $darkColor;
  }
  &:hover {
    color: $darkColor;
  }
}

////////////////////////////// Particles ///////////////////////////////

.particles-container {
  height: 50vh;
  width: 50vw;
  min-width: 285px;
  margin: 0vh auto;
  position: relative;
  top: 23vh;
  clip-path: circle(50% at 50% 50%);
}

.particles-container::before {
  content: "";
  min-width: 180px;
  height: 100%;
  position: absolute;
  top: 2vh;
  left: 17vw;
  background: url(/src/Assets/homeOff.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21vh;
  z-index: 1;
}

////////////////////////////// Days ///////////////////////////////////

.days {
  position: absolute;
  top: 76vh;
  width: 100vw;
  text-align: center;
  font-size: 8vh;
  letter-spacing: 6px;
  color: $darkColor;
  text-shadow: $greyTextShadow;
  p {
    font-size: 2.5vh;
    margin-top: -34px;
  }
}

////////////////// Text line ////////////////////////

.line {
  width: 90vw;
  height: 40px;
  background-color: $darkColor;
  top: 93vh;
  left: 5vw;
  position: absolute;
  border-top: 4px double $redColor;
  border-bottom: 4px double $redColor;
  z-index: -1;
  overflow: hidden;
  font-size: 16px;
  p {
    color: $lightColor;
  }
}

//////////////////////////////////////////////////////////////
/////////////////////////// INFO /////////////////////////////
//////////////////////////////////////////////////////////////

.info {
  height: 100vh;
  color: $lightColor;
  font-family: $amitaFont;
  .info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10vh;
    align-items: center;
    max-width: 828px;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: "";
      top: 100vh;
      width: 100vw;
      max-width: 550px;
      height: 79vh;
      background-color: $redColor;
      z-index: -2;
      clip-path: polygon(69% 0, 31% 87%, 96% 69%, 78% 90%, 18% 95%, 48% 12%);
    }
    .text-down {
      font-size: 2vh;
      letter-spacing: 1px;
      max-width: 500px;
      padding: 5px 20px;
      text-align: center;
      border: 6px double $darkColor;
      background-color: $transColor;
    }
    h2 {
      padding: 15px 0px 10px;
      letter-spacing: 3px;
      color: $greyColor;
      text-transform: uppercase;
    }
  }
}

/////////////////////  Neofetch  //////////////////////////

.neofetch-container {
  padding: 10px;
  font-size: 2vh;
  margin-top: 20px;
  .terminal-head {
    font-size: 2.25vh;
    background-color: $transColor;
    margin: 5px auto;
    padding: 0px 10px;
    width: 73%;
    min-width: 245px;
    border: 2px solid #ffffff1a;
  }
  .neofetch {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .neofetch-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  .neofetch-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background-color: $transColor;
    margin: 5px;
    border: 2px solid #ffffff1a;
    min-width: 245px;
  }
  .img {
    width: 36%;
    min-width: 245px;
    background-color: $transColor;
    margin: 5px;
    border: 2px solid #ffffff1a;
  }
  .terminal {
    padding: 13px 15px;
    span {
      font-style: italic;
      color: $greyColor;
    }
  }
  span {
    font-size: 2.25vh;

    padding-right: 5px;
  }
}

////////////////////   Binary clock  //////////////////////

.bin-clock-container {
  width: 100vw;
}

.bin-clock-root {
  border: 4px double #ffffff00 !important;
  padding-top: 0px;
}

.bin-clock-bulb-off {
  background: $redColor !important;
}

.bin-clock-bulb-on {
  background: $greyColor !important;
}

.bin-clock-bulb-base {
  width: 3vh !important;
  height: 3vh !important;
  margin: 4px !important;
  border-radius: 50% !important;
}
