@import "../../Styles/vars";

//////////////////////////////////////////////////////////////
/////////////////////////// HOME /////////////////////////////
//////////////////////////////////////////////////////////////

.home {
  height: 100vh;
  font-family: $amitaFont;
}

////////////////////////// Links ///////////////////////////

.links {
  display: flex;
  width: 100vw;
  position: absolute;
  top: 9vh;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 700;
  z-index: 99;
  h1 {
    position: absolute;
    top: 9vh;
    display: flex;
    justify-content: center;
    color: $darkColor;
    letter-spacing: 2px;
    text-shadow: $greyTextShadow;
    font-size: 3vh;
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 1s;
    animation-duration: 11s;
  }
}

.developer {
  position: relative;
  top: 24vh;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 3vh;
    color: $darkColor;
    letter-spacing: 2px;
    text-shadow: $greyTextShadow;
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 5s;
    animation-duration: 7s;
  }
  span {
    color: $redColor;
    font-size: 3.5vh;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.me,
.work {
  color: $greyColor;
  font-size: 2vh;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 2px solid $greyColor;
    border-radius: 3px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 19%;
      height: 500%;
      background: $darkColor;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-50deg);
      transition: all 1s;
    }
  }
  &:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: $lightColor;
    color: $darkColor;
  }
  &:active span::before {
    background: $darkColor;
  }
  &:hover {
    color: $darkColor;
  }
}

////////////////////////////// Particles ///////////////////////////////

.particles-container {
  height: 50vh;
  width: 50vw;
  min-width: 285px;
  margin: 0vh auto;
  position: relative;
  top: 23vh;
  clip-path: circle(50% at 50% 50%);
}

.particles-container::before {
  content: "";
  min-width: 180px;
  height: 100%;
  position: absolute;
  top: 2vh;
  left: 17vw;
  background: url(/src/Assets/homeOff.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21vh;
  z-index: 1;
}

////////////////////////////// Days ///////////////////////////////////

.days {
  position: absolute;
  top: 76vh;
  width: 100vw;
  text-align: center;
  font-size: 8vh;
  letter-spacing: 6px;
  color: $darkColor;
  text-shadow: $greyTextShadow;
  p {
    font-size: 2.5vh;
    margin-top: -34px;
  }
}

////////////////// Text line ////////////////////////

.line {
  width: 90vw;
  height: 40px;
  background-color: $darkColor;
  top: 93vh;
  left: 5vw;
  position: absolute;
  border-top: 4px double $redColor;
  border-bottom: 4px double $redColor;
  z-index: -1;
  overflow: hidden;
  font-size: 16px;
  p {
    color: $lightColor;
  }
}

//////////////////////////////////////////////////////////////
/////////////////////////// INFO /////////////////////////////
//////////////////////////////////////////////////////////////

.info {
  height: 100vh;
  color: $lightColor;
  font-family: $amitaFont;
  .text-down {
    position: absolute;
    top: 139vh;
    font-size: 2vh;
    letter-spacing: 2px;
    text-align: end;
    max-width: 500px;
    padding: 10px;
  }
  .div-icons {
    position: relative;
    top: 62vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    filter: drop-shadow(2px 4px 6px black);
    justify-content: space-evenly;
    opacity: 0.85;
  }
}

.info-red {
  display: flex;
  justify-content: center;
}

.info::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $redColor;
  clip-path: polygon(225% 0, 0 0, 0 30%);
}

.info-red::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2c2c2c;
  clip-path: polygon(174% 0, 0 0, 0 29%);
}

.info::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2c2c2c;
  clip-path: polygon(100% 76%, -50% 102%, 100% 100%);
}

.info-red::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $redColor;
  clip-path: polygon(100% 80%, -40% 100%, 100% 100%);
}

.front-icon {
  width: 5vh;
  margin-bottom: 5px;
}
